body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
}

.heroBanner {
    background: #2F3131 url(images/heroimage2.jpg);
    height: 200px;
    margin: 20px;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color:#ced4da;
    font-size: 200%;
}

#statement {
    font-size: 70%;
}

/* #linkedin {
    height: 50px;
    filter: invert(100);
}

#github {
    height: 50px;
    filter: invert(100);
} */