body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
}

h1 {
    text-shadow: black 10px 10px 10px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

button {
    background-color: #2F3131;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}

button:hover {
    color:#B7941B;
}

.heroBanner {
    position: relative;
    background: #2F3131 url(images/heroimage2.jpg);
    height: 250px;
    margin: 20px;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color:#e4e4e4;
    font-size: 200%;
}

#statement {
    font-size: 70%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emaillink {
    background-color: transparent;
    text-decoration: none;
    width: 130px;
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}

.gitlink {
    background-color: transparent;
    text-decoration: none;
    width: 130px;
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}

.linkedin {
    background-color: transparent;
    text-decoration: none;
    width: 130px;
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}

.emaillink:hover {
    animation: rotation 2s infinite linear;
    filter: invert(100%);
  }
  
  .gitlink:hover {
    animation: rotation 2s infinite linear;
    filter: invert(100%);
  }

  .linkedin:hover {
    animation: rotation 2s infinite linear;
    filter: invert(100%);
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes filterchange {
    50%  {filter: invert(0);}
    100% {filter: invert(100);}
  }

  .content {
    background-color: #2F3131;
  }