body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: goldenrod;
}

a {
    text-decoration: none;
}

.heroBanner {
    background: #2F3131 url(images/heroimage2.jpg);
    height: 250px;
    margin: 20px;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color:#ced4da;
    font-size: 200%;
}

#statement {
    font-size: 70%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emaillink {
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}

.gitlink {
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}

.linkedin {
    animation-name: filterchange;
    border: none;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    filter: invert(100)
}
button {
    background-color: transparent;
    text-decoration: none;
}

button:hover {
    animation: rotation 2s infinite linear;
    filter: invert(100%);
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes filterchange {
    50%  {filter: invert(0);}
    100% {filter: invert(100);}
  }

/* #linkedin {
    height: 50px;
    filter: invert(100);
}

#github {
    height: 50px;
    filter: invert(100);
} */